* {
    padding: 0;
    margin: 0;
    color: lightyellow;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
#box{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}
#center{
    width: 100%;
    height: 8%;
    text-align: center;
    line-height: 200%;
    font-size: 10px;
    background-color: rgb(9,10,28);
    text-shadow: 10px 10px rgb(9,10,28);
}

#list{
    width:20%;
    height:100%;
    position: absolute;
    margin-left: 10%;
}
#list:hover span{
    color: chocolate;
}

#list1{
    width: 10%;
    height:100%;
    line-height: 200%;
    position: absolute;
    left: 50%;
}
#list1:hover span{
    color: chocolate;
}

#list2{
    width: 10%;
    height: 100%;
    position: absolute;
    left: 60%;
    /*border: 1px solid red;*/
}
#list2:hover span{
    color: chocolate;
}
#list3{
    width: 10%;
    height: 100%;
    position: absolute;
    left: 70%;
    /*border: 1px solid red;*/
}
#list3:hover span{
    color: chocolate;
}
#list4{
    width: 10%;
    height: 100%;
    position: absolute;
    left: 80%;
}
#list4:hover span{
    color: chocolate;
}
#list5 {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 90%;
}
#list5:hover span{
    color: chocolate;
}
#bottom{
    width: 100%;
    height: 92%;
    position: absolute;
    top: 9%;
    background-color: rgb(9,10,28);
    border: 1px solid royalblue;
}