<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/css/test.css" th:href="@{/css/test.css}"/>
<script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<body>
<div id="box">
    <div id="center">
        <div id="list">
            <span >TaoBao Data Visualization</span>
        </div>
        <div id="list1"><span>首页</span></div>
        <div id="list2"><span>服饰</span></div>
        <div id="list3"><span>彩妆</span></div>
        <div id="list4"><span>电器</span></div>
        <div id="list5"><span>美食</span></div>
    </div>
    <div id="bottom">
        <div></div>

    </div>


</div>

</body>
</html>